header {
  color: red;
  font: italic 50px "Roboto", san-serif;
  display:flex;
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5px;
  padding: 5vw;
  border: red solid 5px;
  justify-content: center;
}

  @media (max-width: 549px){
    .hidden--mobile {
      display: none !important;
    }

    nav {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    nav > i {
      padding: 1rem;
      font-size: 2em;
    }

    nav > ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 0;
    }

    nav > ul > li {
      padding: 0.5rem;
      list-style-type: none;
    }

  }

  @media (min-width: 550px) {
    nav > ul {
      display: flex;
      justify-content: space-evenly;
      padding: 0 0;
    }

    nav > ul > li {
      display: inline-block;
      text-decoration: none;
      border: 1px solid;
      padding: 0.5rem 0.5rem;
      border-radius: 25px;
    }

    nav > .fa-bars {
      display: none;
    }

    #bio {
      margin-right: 3rem;
    }
  }

p {
  color:black;
  font: 40px "Roboto", san-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  font: italic 15px "Roboto", san-serif;
  display:flex;
  flex-wrap: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 47%;
  margin-right: 40%;
  }

  h3 {
    font: italic 20px "Roboto" san-serif;
    border: red solid 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 7.5%;
  }


h3 {
  color:blue;
 }

 form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

img {
  max-width:  50%;
  max-height: 50%;
  margin-left: 35%;
  margin-right: 25%;
}

