header {
  color: red;
  font: italic 50px "Roboto", san-serif;
  display:flex;
  margin-top: 2vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
  border: red solid 5px;
  justify-content: center;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }
}

footer {
  font: italic 15px "Roboto", san-serif;
  margin-left: 45%;
  margin-right: 40%;
  }

  h3 {
    font: italic 20px "Roboto" san-serif;
    color:blue;
    margin-left: 25%;
    margin-right: 25%;
  }

img {
  margin-left: 35%;
  margin-right: 30%;
}

p {
  color:black;
  font: 40px "Roboto", san-serif;
  margin-left: 2%;
  margin-right: 2%;
 }

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}




