
header {
  color: red;
  font: italic 50px "Roboto", san-serif;
  text-align:center;
 }

nav {
  color: blue;
  font-size: 15px;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  color: red;
  font-size: 10px;
  padding-left: 250px;
  flex-direction:row;
  flex-flow: flex-end;
}s

p {
  color:black;
  font-size: 30px;
}

h3 {
  color:blue;
 }

